<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="#">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="title">
              Natural Language Processing Tool
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>

            <section class="desc">
              <p>With this app you can analize the sentimentality of any text!<br> The app rests on <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/what-is-sentiment-analysis">meaningcloud</a> APIs
              <br>Try it out! Just insert a URL in the form below, and MAGIC! Your text will be evaluated! </p>
            </section>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Insert the URL of your favorite article here">
                    <input id="sub" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section class="eval">
                <strong id="restit">The results will appear here</strong>
                <div id="polarity"></div>
                <div id="confidence"></div>
                <div id="subjectivity"></div>
                <div id="agreement"></div>
                <div id="irony"></div>
            </section>

        </main>

        <footer>
            <p>Front End Web Developement Nanodegree Program</p>
            <p>Sumbission Date: 02/27/2021</p>
        </footer>
        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js');
              });
          }
      </script>
    </body>
</html>
